/**

    RSApp.css
    Author: Jon Thomas
    Class: CSC-337 Fall 2018
    Instructor: Allison Obourn

    Style-sheet for RSApp.html

 */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

h1 {
    font-size: 36pt;
    margin: 0;
}

h2 {
    font-size: 28pt;
    margin: 0;
}

input {
    width: 120px;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 100%;
    height: 80px;
    margin: 5px;
}

button {
    padding: 5px;
    margin: 5px;
    color: white;
    border-color: #004455;
    background-color: darkslategrey;
}

.computeKey {
    display: inline-block;
}

#banner, #footer {
    padding: 5px;
    margin: 0;
    color: white;
    background-color: black;
}

#footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#banner p {
    font-style: italic;
    margin-left: 5%;
}

#flexBoxContainer {
    display: flex;
    justify-content: center;
}

#alice, #bob, #eavesdrop {
    padding: 25px;
    margin: 25px;
    text-align: right;
    background-color: cadetblue;
}