/**

    RSApp.css
    Author: Jon Thomas
    Class: CSC-337 Fall 2018
    Instructor: Allison Obourn

    Style-sheet for RSApp.html

 */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-shadow: #4E8D90 1px 1px;
    min-height: 100%;
    position: relative;
}

h1 {
    color: #EEEEEE;
    font-size: 36pt;
    margin: 0;
}

h2 {
    font-size: 28pt;
    color: #222222;
    text-shadow: #004455 1px 1px;
    margin: 0;
}

h3 {
    color: #222222;
    text-shadow: #4E8D90 1px 1px;
}

input {
    width: 120px;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 100%;
    height: 80px;
    margin: 5px;
}

button {
    padding: 5px;
    margin: 5px;
    color: white;
    border-color: #004455;
    background-color: darkslategrey;
}

table {
    width: 100%;
    background-color: darkcyan;
    box-shadow: 2px 2px #004455;
}

td {
    background-color: #DDFFFE;
    padding: 5px;
}

#math {
    text-align: center;
    padding-bottom: 100px;
    bottom: 100px;
}

.computeKey {
    display: inline-block;
}

#banner, #footer {
    padding: 5px;
    margin: 0;
    color: white;
    background-color: black;
}

#footer {
    position: fixed;
    padding: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

#banner p {
    font-style: italic;
    margin-left: 5%;
}

#flexBoxContainer {
    display: flex;
    justify-content: center;
    height: auto;
}

#alice, #bob, #eavesdrop {
    padding: 25px;
    margin: 25px;
    text-align: right;
    background-color: cadetblue;
    max-width: 33%;
    border-radius: 25px;
    box-shadow: 2px 2px #004455;
    max-height: 100%;
}

#eveKeyBox {
    text-align: left;
}